.wrapper {
    display: flex;
    border: 2px solid #444c5c;
    width: 300px;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    gap: 15px;

    &.name_Note {
        display: inline;
        font-weight: 600;
        font-size: 16px;
    }
}
.wrapper_name {
    display: flex;
    justify-content: center;
}
.text {
    margin: 15px;
}
.textArea_edit {
    width: 90%;
    min-height: 300px;
    border: 1px solid #000;
    margin: 0px 15px 15px;
    resize: none;
}
.name_Note_edit {
    border-radius: 15px;
    border: 1px solid #000;
}
.wrapper_text {
    display: flex;
    justify-self: start;
    flex-direction: column;
    flex: 1 0 auto;
}
.wrapper_text > p {
    float: left;
}
.wrapper_tag > span {
    margin: 5px;
}

.wrapper_btn {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    flex: 0 0 auto;


    & > .btn {
        border-radius: 15px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 5px;
        border: none;
    }
    .btn-add {
        width: 30px;
        height: 4em;
        color: #78a5a3;
    }
    .btn-del {
        width: 30px;
        height: 4em;
        color: #ce5a57;
    }

}
.tagButton {
    background-color: blanchedalmond;
    font-weight: 900;
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
}
.tagButton:hover{
    transform: scale(1.2);
}
.colorTag{
   color: #ce5a57;
   background: #000;
}