.container-Panel {
    display: flex;
    border: 2px solid #444c5c;
    min-width: 85%;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    padding: 15px;

}
.btn-Panel {
    margin-left: 15px;
    border-radius: 15px;

    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5px;
    border: none;
    .btn-add {  animation-duration: 2s;
        animation-name: visible;
        @keyframes visible {
            from {
                width: 20px;
                height: 20px;
                color: #ffffff;
            }
          
            to {
                width: 40px;
                height: 40px;
                color: #78a5a3;
            }
          }
        
        width: 40px;
        height: 40px;
        color: #78a5a3;
    }
    .btn-add:hover{
        transform: scale(1.2);
    }
    
}
.btn-add-disabled {display: inline;
    animation-duration: 2s;
    animation-name: visibleDisable;
    @keyframes visibleDisable {
        from {
            width: 0px;
            height: 0px;
            color: #ffffff;
            
        }
      
        to {
            width: 50px;
            height: 50px;
            color: #7b7b7b;
            transform: rotate(-45deg)
        }
      }
      width: 50px;
      height: 50px;
      color: #7b7b7b;
      transform: rotate(-45deg)
       

}
input {
    padding: 15px;
    width: 80%;
    border: none;
}
