.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btnfilter_wrapper {
  margin: 0 auto;
}

.btnfilter {
  font-size: 18px;
  border: none;
  height: 15px;
  background: transparent;
}

.btnfilter .close {
  display: none;
}

.btnfilter:hover .tag {
  display: none;
}

.btnfilter:hover .close {
  display: inline;
}

.note_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

}